* {
  margin: 0;
  padding: 0;
  color: #ebdbb2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background-color: #282828;
}

body {
  max-width: 621px;
  margin: 62px auto;
}
